<div id="flash-sale" class="flash-sale-container">
  <div class="flash-sale-header">
     <link rel="stylesheet" href="../styles/products_sales.css">
    <div class="flash-sale-left">
      <h2>FLASH SALE</h2>
      <div id="flash-countdown" class="countdown"> </div>
    </div>
    <button id="flash-view-all" class="view-all-btn">Xem tất cả</button>
  </div>

  <div id="flash-products" class="flash-products">
    <div class="loading">Đang tải khuyến mãi...</div>
  </div>
</div>
<script src="../js/products_sales.js" defer></script>
<!-- product_sales component markup only; CSS/JS will be injected when loaded -->
